	@font-face {
		font-family: 'Areal';
		src: url('./fonts/areal.woff2');
	}

	@font-face {
		font-family: 'hermit';
		src: url('./fonts/Hermit-Light.otf');
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		transition: all 150ms ease-in-out;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		font-family: 'Areal';
	}


	*::-webkit-scrollbar {
		display: none;
	}


	.page {
		/* box-shadow: 0 0 10px 2px #0002; */
		opacity: .99;
	}

	.page.recto {
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-bottom : 1px solid black;
		border-left : 1px dotted black;
		box-shadow: inset 5px 0px 15px 2px #2223
	}

	.page.verso {
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-bottom : 1px solid black;
		border-right : 1px dotted black;
		box-shadow: inset -5px 0px 15px 2px #2223
	}

	.hov:hover{
		transform: scale(1.005);
	}

	.grid {
	opacity: .1;
	pointer-events: none;
	}

	.project {
		display: grid;
		grid-template-rows: 50% auto;
	}

	.project-title {
		padding-top: 1em;
		/* border-top: 1px solid #222a; */
		border-top: 1px solid blue;
		font-size: .6em;
		font-family: "Areal";
		line-height: 1.3em;
		text-transform: uppercase;
		font-weight: 600;
		color: blue;
	}

	img {
		width: 99%;
		/* filter: grayscale(2); */
		/* mix-blend-mode: multiply; */
		transition: none;
		border: 1px solid blue;
	}

	.scrollable{
		overflow-y: scroll;
		height: 100%;
	}

	img:hover {
		transition: none;
	}

	.ui {
		position: fixed;
		width: 30vw;
		height: 80vh;
		top: 2vh;
		left: -28vw;
		z-index: 99;
		background: #ddd;
		padding: 1em;
		overflow-y: scroll;
	}

	.ui:hover {
		left: .1vw;
	}

	.box {
		border: 1px solid #555;
		padding: .4em;
		margin-bottom: 1em;
	}

	.property {
		border: 1px solid #2222;
		padding: .4em;
		font-family: 'Areal';
		font-variation-settings: "MONO" 99.3827;
		margin: .3em;
		width: 250px;
	}

	.property[activated="true"] {
		background: yellow;
	}

	.key {
		font-family: 'Areal';
		font-variation-settings: "MONO" 99.3827;
	}

	.unit {
		background: #4444;
		font-family: 'Areal';
		font-variation-settings: "MONO" 99.3827;
	}

	button {
		all: unset;
		border: 1px solid black;
		padding: .1em;
	}

	button:hover {
		cursor: pointer;
		background: black;
		color: white;
	}

	input {
		all: unset;
		border: 1px solid black;
		padding: .1em;
		width: 150px;
		margin-left: .2em;
	}
